DEBUG=True
DEV_TEST=True
SECRET_KEY=dev#48!a$#=10&ex7r(hw-r7a&+wllqd=kj#_z4^-l@v28f6@@4^*cella
ALLOWED_HOSTS=127.0.0.1,localhost
DATABASE_URL=sqlite:///db.sqlite3
SQLITE_URL=sqlite:///db.sqlite3
MEDIA_RELATIVE_PATH=media
STATIC_RELATIVE_PATH=static
PAGE_SIZE=10
LOCAL_ADMIN_USERNAME=myemail@codetinker.com
LOCAL_ADMIN_PASSWORD=mypassword
USER_VERIFICATION=False
USER_VERIFICATION_EXPIRE_MINUTE=10
CRON_DAY=2