<style>
    body {
      font-family: Muli,"Helvetica Neue",Arial,sans-serif;
    }
</style>
<div>
    <p>Dear {{ user.fullname }}, </p>

    <p>You're receiving this email because you requested a password reset for your account.</p>

    <p>Your account login, in case you've forgotten: <b>{{ user.get_username }}</b></p>

    <p>
        Please go to the following page and choose a new password:
        <a href="https://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}" target="_blank">
            https://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
        </a>
    </p>

    <p>Thank You!</p>

    <p><b></b></p>
</div>
